<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_vitals"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_vitals"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.NoActionBar" />

        <activity
            android:name=".progress"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.NoActionBar" />

        <activity
            android:name=".profile"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.NoActionBar" />

        <activity
            android:name=".monitoring"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.NoActionBar" />

        <activity
            android:name=".second"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.NoActionBar" />

        <activity
            android:name=".HubPortalActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />

        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.NoActionBar" />

        <activity
            android:name=".DashboardWebViewActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.NoActionBar" />

        <service
            android:name=".VitalsMonitoringService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

    </application>

</manifest>